/* font */

@font-face {
  font-family: "Libre";
  src: url("/fonts/libre.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* global styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Libre", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebeaef;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
